input[type="button"]
{
border-radius: 10px;
background-color:rgb(142, 142, 199);
color: white;
border-color:black ;
width:100%;
}
input[type="text"]
{
border-radius: 10px;
text-align: right;
background-color:darkgray;
color: white;
border-color: white;
width:95%
}